
<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Contacts</h1>

  <div id="contacts">
    <% @contacts.each do |contact| %>
      <%= render contact %>
      <p>
        <%= link_to "Show this contact", contact %>
      
      </p>
    <% end %>
  </div>

<%= link_to "Nuevo Cantacto", new_contact_path, class:"btn btn-primary" %>
</div>

